.profile {
  display: flex;
  padding-top: 40.3px;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    padding-top: 41.25px;
    padding-bottom: 36px;
  }
}
